<h3 class="mt-4"><i class="fa fa-envelope title"></i>Contact</h3>
<form (ngSubmit)="sendEmail()">
  <div class="card">
    <div class="card-body p-3">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Nom" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
          </div>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-comment"></i></div>
          </div>
          <textarea class="form-control" id="message" name="message" [(ngModel)]="message" placeholder="Message" required></textarea>
        </div>
      </div>
      <alert *ngIf="alert" [type]="alert.type" [class]="alert.class">
        {{alert.content}}
      </alert>
      <div class="text-center">
        <input value="Envoyer" class="btn" type="submit">
      </div>
    </div>
  </div>
</form>
