h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.jumbotron {
    background-color: #030304;
    background-image: url('/assets/images/jumbotron_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

hr {
    border-top: 1px solid #ffffff;
}