<div>
  <app-header></app-header>
  <div class="container">
    <div class="row pt-5">
      <app-about class="col-md-12" id="about"></app-about>
    </div>
    <div class="row" id="skills">
      <app-skills class="col-md-6 pt-3" [skills]="skills_left"></app-skills>
      <app-skills class="col-md-6 pt-3" [skills]="skills_right"></app-skills>
    </div>
    <div class="row pt-3">
      <app-timeline id="professionnal" [content]="professionnal" class="col-md-12" id="professionnal"></app-timeline>
    </div>
    <div class="row pt-3">
      <app-timeline id="education" [content]="education" class="col-md-12" id="education"></app-timeline>
    </div>
    <div class="row pt-3">
      <app-interests [interests]="interests" class="px-3" id="interests"></app-interests>
    </div>
    <div class="row pt-3">
      <app-contact-form id="contact-form" class="col-md-6"></app-contact-form>
      <app-contact-infos id="contact-infos" class="col-md-6"></app-contact-infos>
    </div>
  </div>
  <app-footer></app-footer>
</div>
